.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 80vh;
    width: 50%;
    margin:0 auto;
    overflow-y: scroll;
}

.nouser{
    background-color: #F3F4F6;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

@media (min-width: 0) and (max-width: 700px) {
    .container {
      width: 95%;
    }
  }