.card0{
    padding:1rem;
    text-align: left;
}
.card0:hover{
    background-color: #D1D5DB;
    cursor: pointer;
}
.card1{
    padding:1rem;
    cursor:pointer;
    text-align: left;
}
.card1hover{
    background-color: #D1D5DB;
}

.id{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.3rem;
}

.name{
    font-size: 1.2rem;
    margin: 0;
    font-style: italic;
}
.dot{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #3B82F6;
    display: inline-block;
    margin:0.1rem 0.5rem;
}

