.card0{
    padding:1rem;
}
.card0:hover{
    background-color: #D1D5DB;
    cursor: pointer;
}
.card1{
    padding:1rem;
    cursor:pointer;
}
.card1hover{
    background-color: #D1D5DB;
}

.id{
    font-weight: 800;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.3rem;
}

.name{
    font-size: 1.2rem;
    margin: 0;
}